body {
  overflow: hidden;
}

div.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.info-wrapper {
  margin-top: 10px;
}

div.board-wrapper {
  position: relative;
  width: 315px;
  height: 315px;
}

#board {
  position: absolute;
}

#board-table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 315px;
  height: 315px;
}

#board-table tr td {
  width: 35px;
  height: 35px;
  border: 1px solid #999;
}

.board-green {
  background-color: #090;
}

.board-red {
  background-color: #f66;
}
